<div data-ng-show="initOnDemand && !isInitialized">
   <button class="btn btn-default"
      title="{{'checkIfDataIsDownloadableFromWfsHelp' | translate}}"
      data-ng-click="init()">
     <i class="fa fa-fw fa-download"/>
     <span data-translate="">checkIfDataIsDownloadableFromWfs</span>
   </button>
</div>
<div data-ng-show="isInitialized">
  <p data-ng-show="isWfsAvailable && featureType" data-translate=""
     wfsDownloadDataInstruction
  </div>

  <div class="btn-group"
       data-ng-show="featureType && isWfsAvailable">

    <select class="form-control"
            data-ng-if="mode == 'select'"
            data-ng-model="downloadFormat"
            data-ng-change="downloadFormatChange(this)">
      <optgroup label="{{'downloadFeature'| translate}}">
        <option data-ng-repeat="f in formats | orderBy:f"
                value="{{f}}#false">
          {{f | lowercase}}
        </option>
      </optgroup>
      <optgroup label="{{'downloadInCurrentMapExtent'| translate}}">
        <option data-ng-repeat="f in formats | orderBy:f"
                value="{{f}}#true">
          {{f | lowercase}}
        </option>
      </optgroup>

    </select>
    <div data-ng-if="mode == 'dropdown'">
      <button type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span data-translate="">downloadFeature</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header"
            data-translate="">downloadAllIn
        </li>
        <li data-ng-repeat="f in formats | orderBy:f">
          <a data-gn-click-and-spin="download(f)">
            {{f | lowercase}}
          </a>
        </li>
        <li data-ng-if="map"
            role="separator" class="divider"></li>
        <li class="dropdown-header"
        data-ng-if="map"
        data-translate="">downloadInCurrentMapExtent</li>
        <li data-ng-if="map"
            data-ng-repeat="f in formats | orderBy:f">
          <a data-gn-click-and-spin="download(f, true)">
            {{f | lowercase }}
          </a>
        </li>
      </ul>
    </div>
  </div>
